.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1000px;
}

.author {
  font-weight: 800;
  font-size: 20px;
}
